extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus repellendus est cupiditate sunt facere veniam debitis culpa hic eos! Explicabo rem dolore qui maxime ipsam atque non quam cum quae! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit, numquam? Rerum nobis accusamus, sit consequatur perspiciatis deserunt, necessitatibus quas magni, eligendi praesentium aliquam enim optio nostrum possimus voluptates ratione autem?

                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum quis blanditiis doloremque facere! Earum, architecto voluptatem soluta commodi praesentium assumenda sequi quod. Commodi expedita optio dolor ipsum illo ducimus magnam!

                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis necessitatibus totam nihil dolorum, exercitationem sint accusamus aperiam voluptates tempora ullam voluptas recusandae iste amet libero nam quisquam labore adipisci natus.

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore quisquam laboriosam, officiis enim pariatur laborum odit harum ipsam quae, quia dignissimos reprehenderit assumenda nam alias omnis incidunt vero veniam perferendis
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore quisquam laboriosam, officiis enim pariatur laborum odit harum ipsam quae, quia dignissimos reprehenderit assumenda nam alias omnis incidunt vero veniam perferendis
                    
                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Inventore quisquam laboriosam, officiis enim pariatur laborum odit harum ipsam quae, quia dignissimos reprehenderit assumenda nam alias omnis incidunt vero veniam perferendis
                    